/* Resetear estilos por defecto */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  body {
    zoom: 80%;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    transform-origin: 0 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("fondo.jfif");
    background-size: 100% auto; /* Establece el tamaño del fondo al 50% del ancho del contenedor y altura automática */
    background-position: center;
    background-repeat: no-repeat;
  }
  
  
    @import url("https://fonts.googleapis.com/css?family=Varela+Round");
    html {
    box-sizing: border-box;
    }
    *, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    letter-spacing: 1.1px;
    }
    body, html {
    width: 100%;
    height: 100%;
    background: #ffffff;
    font-family: "Varela Round", sans-serif;
    }

    .menu li {
      width: 210px;
      height: 50px;
      transition: background-position-x 0.9s linear;
      text-align: center;
      }
      .menu li a {
      font-size: 22px;
      color: #ffffff;
      text-decoration: none;
      transition: all 0.45s;
      }
    .menu li:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1s;
    }
    .menu li:hover a {
    color: #d94f5c;
    }
    .menu li:not(:last-child) {
    margin-right: 30px;
    }
    @keyframes line {
    0% {
        background-position-x: 390px;
    }
    }
  
  .productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .producto {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    background-color: white;
  }
  
  .producto img {
    max-width: 100%;
  }
  
  .producto-info {
    margin-top: 10px;
  }
  
  .producto-nombre {
    font-weight: bold;
  }
  
  .producto-precio {
    color: #e84a5f; /* Precio en color destacado */
  }
  
  .agregar-carrito {
    background-color: #1abc9c; /* Color turquesa preferido */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .agregar-carrito:hover {
    background-color: #16a085;
  }
  
  /*Color turquesa solicitado por dueño del producto en header del sitio de inicio*/
header {
    background-color: #1abc9c; 
    padding: 20px;
    color: #fff;
  }
  
  /*Configuraciones generales del header o encabezado*/
  header h1 {
    margin: 0;
  }
  
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
  }
  
  header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  /* Color negro al pasar el mouse sobre pestañas para navegar a otros menús (Diseño interactivo) */
  header nav ul li:hover a {
    color: #000000; 
  }
  
  
  
  header nav ul li::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1abc9c; /* Color turquesa */
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  header nav ul li:hover::before {
    transform: scaleX(1);
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }

  .producto img {
    max-width: 100%;
    height: 250px; /* Cambia el valor según tus preferencias */
    object-fit: contain; /* Esto ajustará la imagen manteniendo su proporción */
  }

/* Estilos para el área del carrito */
.carrito-container {
    border-top: 2px solid #1abc9c; /* Color turquesa preferido */
    padding: 20px;
    margin-top: 20px;
    background-color: #f8f8f8;
  }
  
  .carrito-container h2 {
    margin-bottom: 10px;
  }
  
  .carrito-lista {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 10px;
  }
  
  .carrito-lista li {
    margin-bottom: 5px;
  }
  
  .total-carrito {
    font-weight: bold;
    text-align: left;
  }
  

/* Agrega estilos al contenedor del carrito */
.carrito-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}

/* Estilos para el contenedor del total y el botón */
.carrito-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* Estilos para el botón de comprar */
#btn-comprar {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  height: 50px;
  transition: background-color 0.3s, color 0.3s;
}


#btn-comprar:hover {
  background-color: #0056b3;
}


/* Estilos para el botón de eliminar en el carrito */
.eliminar-producto {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px; /* Agregar un margen izquierdo para separar del producto */
  cursor: pointer;
}

.eliminar-producto:hover {
  background-color: #c0392b;
}


  
  /* Color turquesa solicitado por product owner usado en pie de página */
footer {
    background-color: #1abc9c; /* Color turquesa */
    padding: 10px;
    color: #fff;
    text-align: center;
  }